@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe');


$color-primary: rgb(196, 189, 189);
$color-primary-2: rgba(202, 199, 199, 0.815);
$color-primary-3: rgba(204, 192, 192, 0.877);
$color-primary-4: rgba(240, 236, 236, 0.877);
$color-primary-5: rgba(241, 159, 159, 0.877);
$color-primary-6: rgba(241, 238, 238, 0.877);


body {
  margin: 0;
  padding: 0;
  font-family: 'ZCOOL KuaiLe', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  line-height: 1.6;
  box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

.container {
    display: grid;
    grid-template-rows: max-content max-content;
}

.main-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, min-content));
    grid-column-gap: 5rem;
    
    grid-row-gap: 6rem;
    padding: 5rem;
    justify-content: center;
    background-color: $color-primary-4
}

.item {
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    background-color: $color-primary-2;
    box-shadow: 0 5px 10px rgba(0,0,0, .4);
    transition: all .1s;

 &:hover {
     transform: translateY(-2px);
     box-shadow: 0 7px 14px rgba(0,0,0, .4);
 }

    &-img {
        height: 25rem;
      width: 100%;
      grid-column: 1 / -1;
      grid-row: 1 / 2
 

    }

    &-name {
      grid-row: 1 / span 2;
      grid-column:  1 / -1;
      text-align: center;
      font-size: 1.5rem;
      border-radius: 3px;
      align-self: end;
      padding: 1rem;
      background-image: linear-gradient(to right bottom, $color-primary, $color-primary-3);
      width: 80%;
      justify-self: center;
      transform: translateY(80%);
    }

&-comics,
&-events,
&-stories,
&-series {
     font-size: 1.6rem;
     cursor: pointer;
     display: flex;
     align-items: center;
     transition: all .4s;

     &:hover {
         background-color: $color-primary-5
     }
}

&-comics,
&-events {
    margin-top: 2rem;
}


&-icon {
    height: 2rem;
    width: 2rem;
    margin: 0 1rem;
}



}

















