.comics {
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 85vh;
    width: 90%;
    background-color: $color-primary-4;

    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(20rem, min-content));
    grid-template-rows: auto  auto;
    grid-gap: 2rem;
    overflow: scroll;
   justify-content: center;
    padding: 2rem;

    &-empty {
        font-size: 5rem;
        font-weight: 2rem;
        
    }

    &-item {
border-radius: 5px;
display: grid;
grid-template-columns: min-content 1fr;
grid-auto-rows: auto auto;
background-color: $color-primary-2;
box-shadow: 0 7px 14px rgba(0,0,0, .4);

        &-img {
            width: 100%;
            height: 260px;
            grid-column: 1 / -1
        }

        &-name {
          font-size: 1.4em;
         grid-area: 2 / 2/ 3/ 3;
         text-align: center;
         padding: 0 1rem;
        }
    }

    &-button {
        cursor: pointer;
        width: 50px;
        height: 50px;
        outline: none;
        border: none;
        background-color:  $color-primary-2;
        position: fixed;
        top: 0;
        right: 0;
        border-radius: 30px

    }
}


.search {
   display: flex;
   
   align-items: center;

   &-input {
       border-radius: 50px;
       padding: 5px 30px;
       background-color: $color-primary-6;
       width: 12%;
       border: none;
       cursor: pointer;
   outline: none;
       margin-right: -3rem;
       transition: all .2s;

       &:hover {
      width: 17%;
      outline: none;
       }
       &:focus {
           outline: none
       }
   }

    &-button {
        outline: none;
        border: none;
        border-radius: 50%;
        background-color: $color-primary-6;
        
    }


    &-icon {
        width: 14px;
        height: 14px;
        outline: none
    }
}





.sidebar {
    background-color: rgba(187, 184, 184, 0.637);
    display: grid;
    grid-template-columns: 20%  1fr;
    align-items: center;

    &-text {
        color: rgba(0,0,0, .4);
        line-height: 25px;
       margin: 0 auto;
       padding: 5px 10px;
        
    }
}